# Binaries
**/bin/
!vendor/bin/premake/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

**/.cxx
**/CMakeFiles
**/.project
**/.idea
**/.settings
**/.classpath
**/obj
**/cmake_install.cmake
**/*.a
**/*.so
**/*.o
**/local.properties
**/*.iml
**/.vscode